*{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(68, 99, 155, 0.308);
}
h2{
    font-size: 200%;
}
.contenedor-icono{
    width: 800px;
    display: block;
    border: black;
    background-color: rgb(85, 70, 68);
    border-style: groove;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}
.icono {
    width: 400px;
    height: 215px;
    text-align: center;
    background-color: crimson;
    font-size: 150%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-decoration-color: none;
    border-style: groove;
    border-color: black;
}
.index-producto{
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: blueviolet;
    text-decoration-color: none;
    font-style: normal;
    padding: 10px 20px 10px 20px;
    border-style: groove;
    border-radius: 10px;
    border-color: black;
    transition: width 1s;
}
.index-producto:hover{
    width: 900px;
    transition: width 1s;
}
.div-index-productop{
    background-color: blueviolet;
    color: black;
    padding: 5px;
    text-align: right;
}
.div-index-productot{
    font-size: 150%;
    display: block;
    text-align: left;
    height: 80px;
    padding-top: none;
    background-color: blueviolet;
    margin-top: 0px;
}
.div-index-productop input{
    height: 40px;
    width: max-content;
    font-size: 110%;
    margin: 2px 10px 5px;
    border-radius: 10px;
    color: black;
    background-color: blanchedalmond;
    font-weight: 500;
    transition: width 1s;
}
.index-fcontacto{
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: blueviolet;
    text-decoration-color: none;
    font-style: normal;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border-color: black;
    border-style: groove;
}
.index-fcontacto:hover{
    width: 900px;
    transition: width 1s;
}
.div-index-fcontactop{
    background-color: blueviolet;
    color: black;
    padding: 5px;
    text-align: left;
}
.div-index-fcontactot{
    font-size: 150%;
    display: block;
    text-align: right;
    height: 80px;
    padding-top: none;
    background-color: blueviolet;
    margin-top: 0px;
}
.div-index-fcontactop input{
    height: 40px;
    width: max-content;
    font-size: 110%;
    margin: 2px 10px 5px;
    border-radius: 10px;
    color: black;
    background-color: blanchedalmond;
    font-weight: 500;
}
.div-index-productop p{
    background-color: rgba(68, 99, 155, 0.308);
    font-size: 20px;
    color: blanchedalmond;
}

.div-index-fcontactop p{
    background-color: rgba(68, 99, 155, 0.308);
    font-size: 20px;
    color: blanchedalmond;
}

.div-index-productop > input:hover{
    background-color: rgba(68, 99, 155, 0.747);
    color: blanchedalmond;
    width: calc(100%+10px);
    transition: background-color  0.5s, color 0.5s, width 0.5s;
}

.div-index-fcontactop > input:hover{
    background-color: rgba(68, 99, 155, 0.747);
    color: blanchedalmond;
    width: calc(100%+10px);
    transition: background-color  0.5s, color 0.5s, width 0.5s;
}