body{
    font-family: Arial, Helvetica;
    background-color: rgb(162, 162, 216);
}

.menu{
    border-radius: 50px;
    list-style: none;
    padding: 0;
    background-color: rgb(114, 89, 136);
}

.menu > li{
    display: inline-block;
    text-align: center;
}

.menu > li > a{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}

.menu > li > a:hover{
    background: rgb(78, 56, 97);
    border-radius: 50px;
}

.container{
    min-height: calc(100vh);
}

.footer-body{
    background: rgb(114, 89, 136);
    color: white;
    width: 100%;
}

.footer-body-all{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.columna1 h1{
    font-size: 100%;
}

.columna1 p{
    font-size: 80%;
    color: rgb(255, 255, 255);
}

.columna2{
    display: grid;
}

.columna2 h1{
    font-size: 100%;
}

.row{
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
}

.row > label{
    margin: 1%;
}

.imgr{
    max-width:  30px;
    max-height: 30px;
    min-height: 20px;
    min-width: 20px;
    height: 100%;
    width: 100%;
}

.imgi{
    border-radius: 10px;
}

.footer{
    height: 100px;
}

.footer-footer{
    background: black;
    font-size: 50%;
    text-align: center;
}

.copyrigth > a{
    text-decoration: none;
    color:white;
}